# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log

# Entorno virtual
venv/
env/
ENV/

# pytest
.pytest_cache/
report.html
assets/

# Node
node_modules/
dist/
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# IDEs y editores
.idea/
.vscode/*
!.vscode/settings.json
*.swp
*.swo
*~

# Archivos del sistema
.DS_Store
Thumbs.db

# Playwright
**/test-results/
**/playwright-report/
**/playwright/.cache/
**/playwright-screenshots/
**/playwright-videos/

# Archivos temporales
*.tmp
*.bak
*.log 